@charset "UTF-8";

.law{
    width: 315px;
    margin: 80px auto 0;
}
.law_contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 315px;
    margin: 0 auto;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }
.div9 { grid-area: 5 / 1 / 6 / 2; }
.div10 { grid-area: 5 / 2 / 6 / 3; }
.div11 { grid-area: 6 / 1 / 7 / 2; }
.div12 { grid-area: 6 / 2 / 7 / 3; }
.div13 { grid-area: 7 / 1 / 8 / 2; }
.div14 { grid-area: 7 / 2 / 8 / 3; }
.div15 { grid-area: 8 / 1 / 9 / 2; }
.div16 { grid-area: 8 / 2 / 9 / 3; }
.div17 { grid-area: 9 / 1 / 10 / 2; }
.div18 { grid-area: 9 / 2 / 10 / 3; }
.div19 { grid-area: 10 / 1 / 11 / 2; }
.div20 { grid-area: 10 / 2 / 11 / 3; }
.div21 { grid-area: 11 / 1 / 12 / 2; }
.div22 { grid-area: 11 / 2 / 12 / 3; }

.law_contents p{
    text-align: start;
    align-content: center;
    border-bottom: 1px solid var(--maincolor);
}
.law_contents p:nth-of-type(21){
    border: none;
}
.topTopic{
    margin:60px auto 30px;
}

@media screen and (min-width:768px) {
    .law,.law_contents{
        width: 700px;
    }
    .law{
        margin: 100px auto 0;
    }
}
@media screen and (min-width:1024px) {
    .law{
        width: 1000px;
    }
    .law_contents{
        width: 1000px;
    }
}