@charset "UTF-8";

/* main visual */
.mainVisual{
    background-color: var(--maincolor);
    width: 100%;
    margin: 0;
}
.mainVisual_contents{
    padding-bottom: 20px;
    position: relative;
}
.mainVisual_vegas{
    width: 100vw;
    aspect-ratio: 375.00/338.19;
    clip-path: polygon(0 0,100% 0, 100% 60%, 50% 100%, 0 60%);
    margin-top: 50px;
    background-color: #fff;
}
.vegas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 23%;
    gap: 10px;
    position: absolute;
    top: 9%;
    right: 10%;
}
.vegas_txt{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 9.6px;
    color: var(--semibasecolor);
}
.mainVisual_others{
    color: var(--semibasecolor);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.mainVisual_txt{
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
.mainVisual_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.mainVisual_conductorBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 48px;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: 2px solid #FFF;
}
.mainVisual_conductorBtn:nth-of-type(4){
    border-bottom: none;
}
.mainVisual_conductorBtn_txt{
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
.mainVisual_conductorBtn--features,.mainVisual_conductorBtn--howto,.mainVisual_conductorBtn--reservation,.mainVisual_conductorBtn--information{
    position: relative;
    overflow: hidden;
}
.mainVisual_conductorBtn--features::before,.mainVisual_conductorBtn--howto::before,.mainVisual_conductorBtn--reservation::before,.mainVisual_conductorBtn--information::before{
    position: absolute;
    content: '';
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.5) 50%,rgba(255, 255, 255, 0) 100%);
    transform: skewX(-20deg);
}
.mainVisual_conductorBtn--features:hover::before,.mainVisual_conductorBtn--howto:hover::before,.mainVisual_conductorBtn--reservation:hover::before,.mainVisual_conductorBtn--information:hover::before{
    animation: shine 0.7s ease-in-out;
}
@keyframes shine {
    0%{
        left: -75%;
    }
    100%{
        left: 125%;
    }
}

.icon_arrow{
    width: 30px;
    aspect-ratio: 1/1;
}
#reservation, #information{
    scroll-margin-top: 50px;
}
@media screen and (min-width:768px) {
    .vegas{
        top: 7%;
        right: 28%;
    }
    .mainVisual_btn{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mainVisual_conductorBtn:nth-of-type(4){
        border-bottom: 2px solid #FFF;
    }
    .mainVisual_btn .LINE_btn_link{
        margin: 10px auto 0;
    }
    @media screen and (min-width:1024px) {
        .mainVisual_contents{
            display: flex;
            flex-direction: row-reverse;
            width: 1000px;
            margin: 0 auto;
        }
        .mainVisual_vegas{
            width: 665px;
            aspect-ratio: 665/600;
        }
        .vegas{
            top: 0%;
            right: 17%;
        }
        .mainVisual_others{
            width: 336px;
            padding: 70px 20px;
            margin: 0;
            gap: 0;
            justify-content: space-between;
        }
        .mainVisual_btn{
            gap: 0;
        }
        .mainVisual_conductorBtn{
            width: 230px;
            height: 50px;
            padding: 10px;
        }
        .mainVisual_conductorBtn:nth-of-type(4){
            border-bottom: none;
        }
    }
}

/* threePillars */
.threePillars{
    margin-top: 20px;
}
.pillarsFlame{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 315px;
    aspect-ratio: 315/234;
    justify-content: center;
    align-items: center;
}
.diamond{
    width: 107.2px;
    aspect-ratio: 1/1;
    transform: rotate(-45deg);
    background-color:var(--semibasecolor);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.60);
    margin: auto;
}
.diamond--top{
    grid-row: 1/3;
    grid-column: 2/4;
}
.diamond--left{
    grid-row: 2/4;
    grid-column: 1/3;
}
.diamond--right{
    grid-row: 2/4;
    grid-column: 3/5;
}
.pillars_topic, .pillars_txt{
    transform: rotate(45deg);
    width: 108px;
    color: #000;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5; 
}
.pillars_topic{
    font-size: 1.6rem;
    line-height: normal;
    margin-top: 25px;
    margin-left: 17px;
}
.pillars_txt{
    margin-top: -3px;
    margin-left: -8px;
}
.gold{
    color: var(--accentcolor);
}
@media screen and (min-width:768px) {
    .pillarsFlame{
        width: 700px;
    }
    .diamond{
        width: 238px;
    }
    .pillars_topic, .pillars_txt{
        width: 238px;
    }
    .pillars_topic{
        font-size: 3.2rem;
        margin-top: 75px;
        margin-left: 20px;
    }
    .pillars_txt{
        font-size: 1.6rem;
        margin-top: -8px;
        margin-left: -15px;
    }
    @media screen and (min-width:1024px) {
        .pillarsFlame{
            width: 1000px;
        }
        .diamond{
            width: 340px;
        }
        .pillars_topic{
            margin-top: 115px;
            margin-left: 80px;
        }
        .pillars_txt{
            margin-top: 0;
            margin-left: 40px;
        }
    }
}

/* reservation */
.reservation_contents{
    height: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
}
.reservation_item{
    width: 150px;
    aspect-ratio: 1/1;
    padding: 20px;
    background-color: var(--semibasecolor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.reservation_info{
    width: 55px;
    aspect-ratio: 1/1;
    align-content: center;
}
.reservation_left{
    border-bottom: 5px solid #0BE4FC;
}
.reservation_switch{
    border-bottom: 5px solid #0BE4FC;
}
.reservation_right{
    border-bottom: 5px solid var(--accentcolor);
}
.reservation_tee{
    border-bottom: 5px solid #F21818;
}
.LINEcheck{
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3.6px;
}
.reservation .LINEbtn{
    text-align: center;
}
@media screen and (min-width:768px) {
    .reservation_contents{
        width: 100%;
        height: auto;
    }
    .LINEcheck{
        letter-spacing: 7.2px;
    }
    @media screen and (min-width:1024px) {
        .reservation_item{
            width: 200px;
        }
        .reservation_info{
            width: 80px;
            height: 80px;
        }
    }
}

/* information */
 .information_contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
.information_contents_fig{
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 10px;
}

.news-list{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.news-list:last-of-type{
    border-bottom: none;
}
time{
    display: block;
    text-align: center;
}
.news-list_txt{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-list_txt .icon_arrow{
    width: 20px;
}
.news-list_title{
    line-height: normal;
}
@media screen and (min-width:768px) {
    .information_contents{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .information_contents_fig, .information_topic{
        width: 315px;
    }
    @media screen and (min-width:1024px) {
        .information_contents_fig, .information_topic{
            width: 490px;
        }
        .news-list_title{
            font-size: 2.4rem;
        }
    }

}

/* faq */
.faq_contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq_contents_fig{
    width: 315px;
    aspect-ratio: 3/2;
    border-radius: 10px;
}
.faq_item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.faq_item:last-of-type{
    border-bottom: none;
}
.question, .answer_contents{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px;
}
.question{
    justify-content: space-between;
    gap: 0;
    cursor: pointer;
}
.faq_arrow{
    transition: all .5s;
}
.question.slide .faq_arrow{
    transform: rotate(180deg);
    transition: all .5s;
}
.answer{
    display: none;
}
.question_contents{
    display: flex;
    align-items: center;
    gap: 30px;
}
.faq_icon{
    width: 45px;
    aspect-ratio: 1/1;
}
.faq_txt{
    text-align: start;
}
.answer .faq_txt{
    font-size: 1.4rem;
}
@media screen and (min-width:768px) {
    .faq_contents{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .faq_topic{
        width: 315px;
        margin: 0;
    }
    @media screen and (min-width:1024px) {
        .faq_contents_fig{
            width: 490px;
        }
        .faq_topic{
            width: 490px;
        }
        .question .faq_txt{
            font-size: 2.4rem;
        }
        .answer .faq_txt{
            font-size: 1.6rem;
        }
    }
}